<p id="notice"><%= notice %></p>

<h1>Экскурсии</h1>

<table>
  <tbody>
    <% @cities.each do |city| %>
      <div>
        <tr>
          <p><%= link_to city.name, city %></p>
          <% city.activities.each do |activity|%>
            <tr>
              <p><%= image_tag(activity.photo, size: "300x200") %></p>
              <p><%= link_to activity.title, activity %></p>
              <p><%= activity.price%></p>
            </tr>
          <% end %>
        </tr>
      </div>
    <% end %>
  </tbody>
</table>

<br>

