<p id="notice"><%= notice %></p>

<p>
  <%= @city.name %>
</p>
<table>
  <tbody>
    <% @activities.each do |activity|%>
      <p><%= image_tag(activity.photo, size: "400x300") %></p>
      <tr>
        <p><%= link_to activity.title, activity %></p>
        <p>
            <strong>Цена:</strong>
            <%= activity.price%>
        </p>
        <p>
          <strong>Количество просмотров:</strong>
          <%= activity.view_visits.count%>
        </p>
      </tr>
    <% end %>
    <p><%= link_to 'Сортировать по просмотрам', city_path %></p>
    <p><%= link_to 'Сортировать по цене', city_path(order: 'price') %></p>
  </tbody>
</table>

