<p id="notice"><%= notice %></p>

<p>
  <%= @activity.city.name %>
</p>

<p><%= image_tag(@activity.photo, size: "400x300") %></p>

<p>
  <%= @activity.title %>
</p>

<p>
  <strong>Описание:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Цена:</strong>
  <%= @activity.price %>
</p>

<p>
  <strong>Количество просмотров:</strong>
  <%= @activity.view_visits.count %>
</p>

