<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @activity.city.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @activity.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @activity.price %>
</p>

